/*@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap');

html {
    font-size: 14px; /* 1rem verdi i mobil versjon */
}

@media screen and (min-width: 700px) {
    html {
        font-size: 20px; /* 1rem verdi i desktop versjon */
    }
}

body {
    background-color: #ff00ff;
    /* font-family: 'Peralta', cursive;  dette setter et spesifikk font-face til side */
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 6rem;
    align-items: center;
    background-color: aliceblue;
    padding: 1rem;
    /*position: fixed;
    width: 100%;
    display: block;
    top: 0;
    z-index: 5;*/
}

@media print {
    header {
        display: none;
    }
}

header nav {
    display: none;
}

@media screen and (min-width: 700px) {
    header nav{
        display: block;
    }
}

header ul {
    display: none;
}

header nav ul li {
    color: darkmagenta;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
}

header nav ul li:hover {
    color: #ff00ff;
    text-decoration: underline;
}

@media screen and (min-width: 700px) {
    header ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }
}

.hamburger {
    display: block;
}

@media screen and (min-width: 700px) {
    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    header {
        display: block;
        background-color: aliceblue;
    }
}

.centered {
    width: 80%;
    margin: 0 auto 0 auto;
}

.box1 {
    width: 33%;
    height: 4rem;
    background-color: darkgreen;
    display: inline-block;
}

.box2 {
    width: 33%;
    height: 4rem;
    background-color: darkseagreen;
    display: inline-block;
}

.box3 {
    width: 33%;
    height: 4rem;
    background-color: burlywood;
    display: inline-block;
}

p {
    background-color: blue;
    color: #ffffff;
}

.sticky-box {
    /*display: block;
    position: fixed;
    top: 124px;*/
}

.first-paragraph {
    background-color:gold;
}

#second-paragraph {
    background-color: darkred;
    color: #ffffff;
    width: 30rem;
    padding: 1rem 0.5rem 5rem 3rem;
    margin: 0 auto 0 auto;
}

.main-picture {
    width: 20rem;
    /*margin: 0 auto 0 auto;*/
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}
.image-1 {
    width: 100%;
}

.my-box {
    width: 100%;
    height: 20rem;
    background-color: chartreuse;
    position: relative;
    background-image: url('../assets/hero_img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.inside-box {
    background-color: darkcyan;
    color: #ffffff;
    width: 50%;
    position: absolute;
    bottom: 6rem;
    left: 2rem;
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
    animation-name: movein;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes movein {
    from {
        transform: translate(-600px);
    }

    80% {
        transform: translate(200px);
    }

    to {
        transform: translate(0px);
    }
}

.inside-box button {
    font-size: 1.2rem;
    background-color: blanchedalmond;
    color: #000000;
    padding: 0.5rem 1.2rem;
    border-radius: 1rem;
    border: none;
    margin: 1rem;
    /* transition-property: all;
    transition-duration: 1s; */
    transition: all 0.6s ease-in-out;
    transition-delay: 0.2s;
}

.inside-box button:hover {
    background-color: brown;
    color: #ffffff;
}

.box-model {
    width: 40rem;
    height: 10rem;
    padding: 0.5rem;
    margin: 1.5rem auto;
    background-color: deepskyblue;
    border: 0.25rem solid #000;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.flex-item {
    height: 5rem;
    width: 10rem;
    background-color: #ffffff;
}

.flex-item-big {
    height: 5rem;
    width: 10rem;
    background-color: #ffffff;
}

footer {
    background-color: blue;
    color: #ffffff;
}

.footer-nav {
    display: block;
}

@media screen and (min-width: 700px){
    .footer-nav {
        display: none;
    }
}

.footer-nav ul {
    display: flex;
    gap: 2rem;
}